body {
    background-color: black;
    width: auto;
    height: auto;
}

h1 {
    margin-top: 1em;
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    font-size: 3em;
    color: #60c2d4;
    text-align: center;
}

#board1 {
    position: relative;
    width: 50em;
    height: auto;
    margin: 3em auto auto auto;
    background-color: white;
    border: 1px solid white;
    padding-bottom: 2.5em;
}

textarea {
    position: relative;
    width: 35em;
    min-height: 100px;
    margin: 0 1em .5em 1em;
    padding: .5em .5em .5em .5em;
    resize: none;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 1.3em;

}

#board1 p {
    float: right;
    margin-right: 3em;
}

#msgCnt {
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: .9em;
    margin-left: 580px;

}

button {
    position: relative;
    float: right;
    padding: .2em;
    margin-right: 1.6em;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 1em;
}
